<!doctype html>
<html>
    <head>
    	<title>$titolo</title>
    	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="../assets/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="../assets/style.css" type="text/css">
		<script src="../assets/request.js"></script>
	</head>
  	<body>
		  
		<!-- LOGIN -->
		
		<div class="login">
			<p>
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="collapseExample">
					Login
				</button>
			</p>
			<div class="collapse" id="login">
				<div class="card card-body">
					<form method="POST" action="asd.php"> <!-- File da contattare per il login -->
						<div class="form-group">
							<label for="matricola">Matricola</label>
							<input type="text" class="form-control" id="matricola" aria-describedby="matr" placeholder="matricola studente" name="matricola">
							<small id="matr" class="form-text text-muted">Inserisci la matricola fornita dall'istituto.</small>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="password">
						</div>
						<button type="submit" class="btn btn-primary">Accedi</button>
					</form>
				</div>
			</div>
		</div>
		
		<!-- CONTENUTO PAGINA -->
		
		<div class="col-md-1"></div>
    	<div class="container col-md-10">
	        <script>
			    var callback_get = function(err, response){
					if(err){
						console.log("Errore: " + err);	
					}//if
					console.log(response);
			   	}//callback_get
			   
				$box = "<div class=\"card card-new col-md-3\">\n<img class=\"card-img-top\" src=\"img/matematica.jpg\" alt=\"Card image cap\">\n <div class=\"card-body\">\n<h5 class=\"card-title\">";
				$box += "Titolo Corso";
				$box += "</h5> <p class=\"card-text\">Presentazione corso Presentazione corso Presentazione corso Presentazione corso </p>";
				$box += "<a href=\"#\" class=\"btn btn-primary\">Vai all'attività</a>\n</div>\n</div><div class=\"col-md-1 separatore\"></div>";
				
				for($i = 0; $i < 7; $i++){
					document.write($box);
				}
				
				var request = new Request("../src/controller/index_controller.php", "POST", [{name: "test", value: 10}, {name: "test2", value: 100}], callback_get); //inizialize the Request object
				request.send(); //send the request
	
	        </script>
    	</div>
    	
    	<!-- SCRIPT -->
    	
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    	<script src="../assets/request.js"></script>
  	</body>
</html>
