:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow{
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-new{
    background-color:#E4F3F2 !important;
    float:left;
    margin-bottom:20px;
    margin-right:20px;
    /*margin-left:20px;*/
}

.btn-accedi:hover{
    background-color:#F7F7F7;
    color:black;
}

.btn-accedi{
	height:30px;
	line-height:0px;
}

.btn-download{
	float:right;
}

.btn-torna-su{
    background-color:white !important;
    color:black !important;
}

.scritta{
    color:white !important;
}

.creazione-corso{
    margin: 20px;
}

.login{
	width: 80%;
	margin: 0 auto;
}

.cardLogin{
	color: white;
	background-color: #343a40 !important;
	border-color: #343a40 !important;
}

.side-box{
	padding: 0 30px 0 30px;
	margin-bottom:20px;
}

.contenuto-dashboard{
	margin-top: 40px;
}

.inserimento-evento{
	display: block;
}

#form-evnt{
	display: none;
}

.side-box-header{
	background-color: #343a40 !important;
	color:white;
	border-color: #343a40 !important;
}

.card-style{
	border-color: #343a40 !important;
}

#calendar{
	width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.fc-prev-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-next-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-today-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-month-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-agendaWeek-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-agendaDay-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-listMonth-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

@media(max-width:467px){
    .fc-right{
		margin-top: 5px;
		margin-bottom: 5px;
        float: left !important;
    }
}

.container-new{
    margin-top:20px;
}

.img-center{
    margin:auto;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#date > a:hover{
	margin-left:5px;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed !important; /* Stay in place */
    z-index: 1 !important; /* Sit on top */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    background-color: rgb(0,0,0) !important; /* Fallback color */
    background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe !important;
    margin: 5% auto !important; /* 15% from the top and centered */
    padding: 20px !important;
    padding-bottom: 20px !important;
    border: 1px solid #888 !important;
    width: 80% !important; /* Could be more or less, depending on screen size */
    height: 80%  !important;
    overflow: auto !important; /* Enable scroll if needed */
}

/* The Close Button */
.close {
    color: #aaa !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer !important;
} 
