:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow{
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-new{
    background-color:#E4F3F2 !important;
    float:left;
    margin-bottom:20px;
    margin-right:20px;
    /*margin-left:20px;*/
}

.btn-accedi:hover{
    background-color:#F7F7F7;
    color:black;
}

.btn-accedi{
	height:30px;
	line-height:0px;
}

.btn-download{
	float:right;
}

.btn-torna-su{
    background-color:white !important;
    color:black !important;
}

.scritta{
    color:white !important;
}

.creazione-corso {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.creazione-comunicazione{
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.login{
	width: 80%;
	margin: 0 auto;
}

.cardLogin{
	color: white;
	background-color: #343a40 !important;
	border-color: #343a40 !important;
}

.side-box{
	padding: 0 30px 0 30px;
	margin-bottom:20px;
}

.contenuto-dashboard{
	margin-top: 40px;
}

.inserimento-evento{
	display: block;
}

#form-event{
	display: none;
}

#form-communication{
	display: none;
}

.side-box-header{
	background-color: #343a40 !important;
	color:white;
	border-color: #343a40 !important;
}

#social-box > h4{
	font-size: 1.3em;
}

.card-style{
	border-color: #343a40 !important;
}

#calendar{
	width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.fc-prev-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-next-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-today-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-month-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-agendaWeek-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-agendaDay-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-listMonth-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

@media(max-width:467px){
    .fc-right{
		margin-top: 5px;
		margin-bottom: 5px;
        float: left !important;
    }
}

.container-new{
    margin-top:20px;
}

.img-center{
    margin:auto;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#date > a:hover{
	margin-left:5px;
}

/* gestione return to top arrow */

#return-to-top {
    position: fixed;
    bottom: 25px; /**** Position of button ****/
    right: 25px;  /**** Position of button ****/
    background: rgba(42, 33, 33, 0.5);  /**** Color of button ****/
    width: 50px;  /**** Size of button ****/
    height: 50px; /**** Size of button ****/
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: red !important; /**** Color of Arrow ****/
    margin: 0;
    position: relative;
    left: 8.5px;  /**** Position of arrow within button ****/
    top: 8px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(42, 33, 33, 0.64);
}
#return-to-top:hover i {
    color: red !important;
    top: 5px;
}

.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

 /* The Modal (background) */
.modal {
    display: none;
    position: fixed !important;
    z-index: 1 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(0,0,0) !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.modal-content {
    background-color: #fefefe !important;
    margin: 5% auto !important;
    padding: 20px !important;
    padding-bottom: 20px !important;
    border: 1px solid #888 !important;
    width: 80% !important;
    height: 80%  !important;
    overflow: auto !important;
}

.close {
    float: right;
    color: #aaa !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

#div-fine-rip{
    display: none;
}

#chiudiEvento{
	text-align: right;
}

#chiudiComunicazione{
	text-align: right;
}

#dataInizioEvento,#dataFineEvento{
	margin-bottom: 5px;
}

.tabella-utenti{
	margin-top: 10px;
}

#tabellaFile{
    text-align: center;
}

.div-img-index{
    height: 200px;
}

.img-index{
    height: 200px;
    object-fit: cover;
}

.corso-index{
	margin-bottom: 20px;
}

#activity_image{
	object-fit: cover;
}

#successo, #errore{
	position: fixed !important;
	bottom: 5px !important;
	z-index: 3000 !important;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	align: center;
	display: none;
}

#btn-event{
    border-radius: 50%;
    background-color: white;
    border: 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 4px;
    top: 4px;
}

#btn-communication{
    border-radius: 50%;
    background-color: white;
    border: 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.btn-outline-success-new {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color:#fff !important;
    outline: none;
}

.btn-outline-success-new:hover {
    border-color: #007bff !important;
    color: #007bff !important;
    background-color: #fff !important;
    outline: none !important;
}

.btn-outline-success-new:onclick{
    background-color: #fff !important;
    outline-color: none !important;
}

#tabella-studenti{
    overflow: auto;
}

.bg-light-new{
    background-color: transparent !important;
}

.thead-dark-new th{
    background-color: #343a40 !important;
}

.footer {
  position: absolute;
  width: 100%;
  top: 100%;
}

#foot{
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index:0;
    background-color: #343a40;
}

