:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.login{
	width: 80%;
	margin: 0 auto;
}

.cardLogin{
	color: white;
	background-color: #343a40 !important;
	border-color: #343a40 !important;
}

.side-box{
	padding: 0 30px 0 30px;
	margin-bottom:20px;
}

.contenuto-dashboard{
	margin-top: 40px;
    height: 40em;
}

.side-box-header{
	background-color: #343a40 !important;
	color:white;
	border-color: #343a40 !important;
}

.card-style{
	border-color: #343a40 !important;
}

#calendar{
	width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.fc-prev-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-next-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-today-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-month-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-agendaWeek-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-agendaDay-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

.fc-listMonth-button{
    background-color: #343a40 !important;
    border-color: black !important;
}

@media(max-width:374px){
    .fc-right{
		margin-top: 5px;
		margin-bottom: 5px;
        float: left !important;
    }
}
