/* style.css */

.card-new{
	background-color:#E4F3F2 !important;
	float:left;
	margin-bottom:20px;
	margin-right:20px;
	/*margin-left:20px;*/
}

.btn-accedi:hover{
	background-color:#F7F7F7;
	color:black;
}

.btn-torna-su{
	background-color:white !important;
	color:black !important;
}

.scritta{
	color:white !important;
}
